pkgbase = crest-art
	pkgdesc = Generative terminal-art CLI — render animated parametric patterns with ANSI truecolour
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/melancholysky/crest
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-pillow: PNG export support
	source = https://files.pythonhosted.org/packages/source/c/crest-art/crest_art-0.1.0.tar.gz
	sha256sums = 4123d2e698e45a2e24593853afb5d2ed87a6606a93026a8414c1e0e7f0e97f12

pkgname = crest-art
