pkgbase = crest-art
	pkgdesc = Generative terminal-art CLI — render animated parametric patterns with ANSI truecolour
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/melancholysky/crest
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-pillow: PNG export support
	source = https://files.pythonhosted.org/packages/source/c/crest-art/crest_art-0.1.1.tar.gz
	sha256sums = e66642a8615933ae573093492426ec0a0fa270eb32031cf2d284f272994ba151

pkgname = crest-art
